/*
Colors used
Primary Color (Light Green): #c1ffbd;
Secondary Color (Brown): #6c4c33;
Link-Color (Dark Blue): #003775;
Text-Color (Black): #000;
*/

:root {
    --background-color-primary: #c1ffbd;
    --background-color-secondary: #6c4c33;
    --background-color-grid: lightgray;
    --link-color-primary: #003775;
    --link-color-active: #73360D;
    --link-color-visited: #6A1C0E;
    --button-color-primary: #800000;
    --button-color-secondary: #e0b354;
    --text-color-dark: #000;
    --text-color-light: #fff;
    --border-color: #000;
    --sun-primary-color: #edc655;
    --sun-secondary-color: #fcffad;
    --sun-tertiary-color: #f76414;
    --max-width-primary: 700px;
    --max-width-secondary: 500px;
    --font-size-primary: 16px;
    --line-height-default: 1.6;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-primary);
    line-height: var(--line-height-default);
    background-color: var(--background-color-primary);
}

p {
    margin: auto;
}

.pokemon-list {
    display: flex;
    margin: auto;
    flex-flow: row wrap;
}

li {
    list-style-type: none;
    padding: 5px;
    flex: 1 1 19%;
}

.pokemon-button {
    border: none;    
    background-color: var(--button-color-primary);
    color: var(--text-color-light);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px solid var(--border-color);
    transition: 0.5s opacity;    
}

.pokemon-img {
    margin: auto;
    height: 50%;
    width: 50%;
}

.modal-header, .pokemon-height {
    margin: auto;
}

button:hover, 
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}