/*
Colors used
Primary Color (Light Green): #c1ffbd;
Secondary Color (Brown): #6c4c33;
Link-Color (Dark Blue): #003775;
Text-Color (Black): #000;
*/

:root {
    --background-color-primary: #c1ffbd;
    --background-color-secondary: #6c4c33;
    --background-color-grid: lightgray;
    --link-color-primary: #003775;
    --link-color-active: #73360D;
    --link-color-visited: #6A1C0E;
    --button-color-primary: #800000;
    --button-color-secondary: #e0b354;
    --text-color-dark: #000;
    --text-color-light: #fff;
    --border-color: #000;
    --sun-primary-color: #edc655;
    --sun-secondary-color: #fcffad;
    --sun-tertiary-color: #f76414;
    --max-width-primary: 700px;
    --max-width-secondary: 500px;
    --font-size-primary: 16px;
    --line-height-default: 1.6;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-primary);
    line-height: var(--line-height-default);
    background-color: var(--background-color-primary);
}

.pokemon-list {
    display: flex;
    margin: auto;
    flex-flow: row wrap;
}

li {
    list-style-type: none;
    padding: 5px;
    flex: 1 1 19%;
}

.pokemon-button {
    border: none;    
    background-color: var(--button-color-primary);
    color: var(--text-color-light);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px solid var(--border-color);
    transition: 0.5s opacity;
    
}

button:hover, 
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

#modal-container {
    display: none;
  }
  
#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    /* to show it above other content */
    z-index: 999; 

    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 

    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

/* Hides the modal when the user clicks outside, presses escape, or clicks the close button */
.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.modal h1 {
    margin-top: 0;
}

.modal p {
    margin-bottom: 0;
}